body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.exit {
    float: right;
}

.header {
    font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.expired * {
   color: #ff0000;
}

