<h2>Log in</h2>

<form id="loginForm">
    <div class="form-group">
        <label for="login">Login</label>
        <input required minlength="6" maxlength="50" tabindex="1"
               placeholder="login" id="login"
               class="form-control" name="login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input required minlength="6" maxlength="50" tabindex="2"
               placeholder="password" id="password"
               class="form-control" name="password">
    </div>
    <div class="panel-body">
        <button tabindex="3" type="submit" class="btn btn-primary">submit</button>
        <input tabindex="4" type="reset" class="btn btn-danger" value="reset">
    </div>
</form>


