<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Loading</title>
    <script src="http://localhost:3000/scripts/client-login.js"></script>
</head>
<body>
</body>
</html>